<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1049447047455-5erbffe0k4p9u3k578r5773hfuaik51p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049447047455-5erbffe0k4p9u3k578r5773hfuaik51p</string>
	<key>API_KEY</key>
	<string>AIzaSyAk0BtHoLSdcJkX2maQPq1Q7GHnik4qZqE</string>
	<key>GCM_SENDER_ID</key>
	<string>1049447047455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.justinoroz.homebase</string>
	<key>PROJECT_ID</key>
	<string>homebase-697b8</string>
	<key>STORAGE_BUCKET</key>
	<string>homebase-697b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049447047455:ios:6e0a558f214420f6</string>
	<key>DATABASE_URL</key>
	<string>https://homebase-697b8.firebaseio.com</string>
</dict>
</plist>